{{ header }}
<style>
	/****radio css***/
	.radio-custom label {
		
		display: inline-block;
		margin-right: 15px;
		cursor: pointer;
		font-weight: 500;
		position: relative;
		overflow: hidden;
		margin-bottom: 0.375em;
		float: left;
		
	}

	.fix_st p {
		margin-bottom: 0px !important;
	}

	.radio-custom label input {
		position: absolute;
		left: -9999px;
	}

	.radio-custom label input:checked+span {
		background-color: #d97676;
		color: #fff;
	}

	.radio-custom label span {
		display: flex;
		align-items: center;
		padding: 10px 15px;
		border-radius: 25px;
		transition: 0.25s ease;
		background-color: #fff;
		border: thin solid #333;
	}

	.arrow {
		display: none !important;
	}

	.slick-active div {
		display: flex;
		justify-content: center;
	}

	.plocationbox {
		display: none !important;
	}
	.alert-dismissible{
		display:none !important;
	}
	.border_a .slick-current {
       width: 100% !important;
    border: 4px solid #4a4975 !important;
}
	.border_a .slick-list {
       height: 700px !important;
    
}
.sc{
	height: 100vh;
    overflow: auto;
}
.sc::-webkit-scrollbar {
    display: none;
}
</style>
<div class="breadcrumb-area hidden-phone">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumb-wrap">
					<nav aria-label="breadcrumb">
						<ul class="breadcrumb">
							{% for breadcrumb in breadcrumbs %}
							<li class="ml-2">
								<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
							</li>
							&nbsp;/
							{% endfor %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<div id="product-product mt-10" class="container mb-5">
	<div class="row">
		<div id="content" class="col-sm-12">{{ content_top }}
			<div class="row">
				<div class="col-sm-1 mob_dnone border_a">
					{% if thumb or images %}
					<ul class="slider slider-nav " style="height:100%">
						{% if thumb %}
						<li><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></li>
						{% endif %}
						{% if images %}
						{% for image in images %}
						<li class="image-additional">
							<img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
						</li>
						{% endfor %}
						{% endif %}
					</ul>
					{% endif %}

				</div>
				<div class="col-sm-6">
					{% if thumb or images %}
					<ul class="slider slider-for">
						{% if thumb %}
						<li class=" d-flex justify-content-center"><img src="{{ thumb }}" style="max-height:700px;"
								title="{{ heading_title }}" alt="{{ heading_title }}" /></li>
						{% endif %}
						{% if images %}
						{% for image in images %}
						<li class="image-additional d-flex justify-content-center" style="">
							<img src="{{ image.thumb }}" style="max-height:700px;" title="{{ heading_title }}"
								alt="{{ heading_title }}" />
						</li>
						{% endfor %}
						{% endif %}
					</ul>
					{% endif %}
				</div>

				<div class="col-sm-5 mt-3 p-3 sc">
					<h2 class="text-capitalize" style="font-weight: 400;padding-right: 40px;">{{ heading_title }}</h2>
					<p class="pmob"style="font-size: 17px;padding-top:10px;">SKU : {{ sku_id }} </p>
					{% if price %}
					<ul class="list-unstyled mt-4">

						{% if not special %}
						<li>
							<h2 style="color:#4a4975;">{{ price }}</h2>
						</li>
						{% else %}

						<li>
							<h3 style="color:#4a4975;">{{ special }}
								&nbsp; &nbsp;<span class="span_mob"
									style="text-decoration: line-through;font-size: 18px;color:#525151;">{{ price
									}}</span> &nbsp; <span class="span_mob"style="font-size:18px;color:#6c8bab;">
									{{ percent1 }}% OFF</span>
							</h3>
						</li>
						{% endif %}
						<li>
							<p class="pmob"style="font-size: 16px;">inclusive of all taxes</p>
						</li>
						{% if tax %}
						<li>{{ text_tax }}
							{{ tax }}</li>
						{% endif %}
						{% if points %}
						<li>{{ text_points }}
							{{ points }}</li>
						{% endif %}
						{% if discounts %}
						<li>
							<hr>
						</li>
						{% for discount in discounts %}
						<li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
						{% endfor %}
						{% endif %}
					</ul>
					<br>

					{% endif %}
					<a class="wishlist_link" onclick="wishlist.add('{{ product_id }}');">
							{% if not product.wish %}
							<i class="pe-7s-like" btnid="{{ product_id }}" btnname="{{ heading_title }}"
								btnimg="{{ thumb }}" btnhref="{{ href1 }}" btnprice="{{ price }}"
								btnsprice="{{ special }}"btnpercent="{{ percent1 }}" style="color: #4a4975; font-size:30px;"></i>
							{% else %}
							<i class="fa fa-heart" style="color: #4a4975; font-size:30px;" aria-hidden="true"></i>

							{% endif %}
						</a>
					<div id="product">
						{% if options %}


						{% for option in options %}
						{% if option.type == 'select' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<h3 class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}
							</h3><br>
							<select name="option[{{ option.product_option_id }}]"
								id="input-option{{ option.product_option_id }}" class="form-control">
								<option value="">{{ text_select }}</option>
								{% for option_value in option.product_option_value %}
								<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
								</option>
								{% endfor %}
							</select>
						</div>
						{% endif %}
						{% if option.type == 'radio' %}
						<div class="row form-group{% if option.required %} required {% endif %}">
							<label class="col-md-6 col-6 control-label float-r" style="float: left;">{{ option.name }}
								&nbsp; &nbsp; &nbsp;

							</label>
							<label class="col-md-6 col-6 control-label " style="text-align: end;">
								<button type="button" class="btn size-chart" data-toggle="modal"
									data-target="#exampleModal">
									<i class="fa-solid fa-clothes-hanger"></i>
									<h4 style="    color: #d97676;">
										Size Chart</h4>
								</button>

							</label>
							<br />
							<div class="col-md-12">
								<ul>
							{% for option_value in option.product_option_value %}
							<li class="radio-custom ">
								<label>
									<input type="radio" class='sizes' name="option[{{ option.product_option_id }}]"
										value="{{ option_value.product_option_value_id }}"
										data-sign="{{ option_value.price_prefix }}"
										data-price="{{ option_value.price }}" />
									{% if option_value.image %}
									<img src="{{ option_value.image }}"
										alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"
										class="img-thumbnail" />
									{% endif %}
									<span>
										{{ option_value.name }}</span>

								</label>
							</li>
							{% endfor %}
							</ul>
							</div>

						</div>
						
						{% endif %}

						{% if option.type == 'checkbox' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label">{{ option.name }}</label>
							<div id="input-option{{ option.product_option_id }}">
								{% for option_value in option.product_option_value %}
								<div class="checkbox">
									<label>
										<input type="checkbox" name="option[{{ option.product_option_id }}][]"
											value="{{ option_value.product_option_value_id }}" />
										{% if option_value.image %}
										<img src="{{ option_value.image }}"
											alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"
											class="img-thumbnail" />
										{% endif %}
										{{ option_value.name }}
										{% if option_value.price %}
										({{ option_value.price_prefix }}{{ option_value.price }})
										{% endif %}
									</label>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
						{% if option.type == 'text' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name
								}}</label>
							<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}"
								placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}"
								class="form-control" />
						</div>
						{% endif %}
						{% if option.type == 'textarea' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name
								}}</label>
							<textarea name="option[{{ option.product_option_id }}]" rows="5"
								placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}"
								class="form-control">{{ option.value }}</textarea>
						</div>
						{% endif %}
						{% if option.type == 'file' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label">{{ option.name }}</label>
							<button type="button" id="button-upload{{ option.product_option_id }}"
								data-loading-text="{{ text_loading }}" class="btn btn-default btn-block">
								<i class="fa fa-upload"></i>
								{{ button_upload }}</button>
							<input type="hidden" name="option[{{ option.product_option_id }}]" value=""
								id="input-option{{ option.product_option_id }}" />
						</div>
						{% endif %}
						{% if option.type == 'date' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name
								}}</label>
							<div class="input-group date">
								<input type="text" name="option[{{ option.product_option_id }}]"
									value="{{ option.value }}" data-date-format="YYYY-MM-DD"
									id="input-option{{ option.product_option_id }}" class="form-control" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						{% endif %}
						{% if option.type == 'datetime' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name
								}}</label>
							<div class="input-group datetime">
								<input type="text" name="option[{{ option.product_option_id }}]"
									value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm"
									id="input-option{{ option.product_option_id }}" class="form-control" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						{% endif %}
						{% if option.type == 'time' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name
								}}</label>
							<div class="input-group time">
								<input type="text" name="option[{{ option.product_option_id }}]"
									value="{{ option.value }}" data-date-format="HH:mm"
									id="input-option{{ option.product_option_id }}" class="form-control" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						{% endif %}
						{% endfor %}
						{% endif %}
						{% if recurrings %}
						<hr>
						<h3>{{ text_payment_recurring }}</h3>
						<div class="form-group required">
							<select name="recurring_id" class="form-control">
								<option value="">{{ text_select }}</option>
								{% for recurring in recurrings %}
								<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
								{% endfor %}
							</select>
							<div class="help-block" id="recurring-description"></div>
						</div>
						{% endif %}


						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">

										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<img src="image/chart.webp" style="width:100%;" alt="placeholder">
									</div>

								</div>
							</div>
						</div>
						<div class="form-group  " style="margin-top: 1.5rem;">
							<input type="hidden" name="quantity" value="{{ minimum }}" size="2" id="input-quantity"
								class="form-control iq" />

							<div id="counter-btn" style="padding: 0px; margin-top:-12px; max-width:300px"
								class="row ml-0">
								<div style="cursor: pointer; height: 40px; text-align:center;   border:thin solid #ccc"
									class="col-sm-2 col-4 minus-icon">
									<li style=" font-size:12px; margin:auto; line-height:40px; text-align:center"
										id="less_quantity" class="fa fa-minus"></li>
								</div>
								<div style=" padding-left:0px; height: 40px; padding-right:0px;" class="col-sm-3 col-4">
									<input name="quantity" type="text"
										style="box-shadow:none; text-align:center; border-radius:0px; width:100%; height: 40px; background-color: transparent; cursor:default"
										id="input-quantity" value="1" class="form-control iq" />
								</div>
								<div style=" cursor: pointer;  height: 40px; text-align:center; border:thin solid #ccc"
									class="col-sm-2 col-4 minus-icon">
									<li style="font-size:12px; height: 50px; line-height:40px; text-align:center"
										id="add_quantity" class="fa fa-plus"></li>
								</div>
							</div>


							<input type="hidden" name="product_id" value="{{ product_id }}" />
							<br />
							{# <button type="button" id="button-cart" data-loading-text="{{ text_loading }}"
								class="btn btn-primary btn-lg btn-block" style="max-width: 100%;">{{ button_cart
								}}</button> #}
							<div class="row m-0" style="justify-content: space-around;">
								<button type="button" style='float:left; max-width:49%' id="button-cart"
									data-loading-text="{{ text_loading }}"
									class="btn col-md-6 col-6 btn-primary btn-lg btn-block">
									<li class="fa fa-shopping-cart"></li>
									{{ button_cart }}
								</button>
								<button type="button" id="button-buy" style='float:right; max-width:49%;'
									class="col-md-6 col-5 btn btn-primary btn-lg ">
									<li class="fa fa-bolt"></li>
									Buy Now
								</button>
							</div>
						</div>

						{% if minimum > 1 %}
						<div class="alert alert-info">
							<i class="fa fa-info-circle"></i>
							{{ text_minimum }}
						</div>
						{% endif %}
					</div>


					<section style=" padding:20px 0px">
						<div class="row">
							<div class="col-sm-12 ">

								<div style="background:#fff;padding:10px 10px;" class=" des-con">
									<h3 class="pb-3 nav-tabs " style="font-size: 20px;color:#4a4975;">Specifications
									</h3>
									<div class="row">

										<div class="col-md-5 mt-2">
											<p>Fabric</p>

											{% if null == fabric %}
											<h5 class="pb-2" style="border-bottom: 1px solid gray;">-</h5>
											{% else %}
											<h6 class="pb-2" style="border-bottom: 1px solid gray;">{{ fabric }}</h6>{%
											endif %}
										</div>
										<div class="col-md-5 mt-2">
											<p>Pattern</p>
											{% if null == pattern %}
											<h6 class="pb-2" style="border-bottom: 1px solid gray;">-</h6>
											{% else %}
											<h6 class="pb-2" style="border-bottom: 1px solid gray;">{{pattern}}</h6>
											{% endif %}
										</div>
										<div class="col-md-5 mt-2">
											<p>Sleeve Length</p>
											{% if null == sleeve %}
											<h5 class="pb-2" style="border-bottom: 1px solid gray;">-</h5>
											{% else %}
											<h6 class="pb-2" style="border-bottom: 1px solid gray;">{{sleeve}}</h6>
											{% endif %}
										</div>
										<div class="col-md-5 mt-2">
											<p>Style</p>
											{% if null == style %}
											<h5 class="pb-2" style="border-bottom: 1px solid gray;">-</h5>
											{% else %}
											<h6 class="pb-2" style="border-bottom: 1px solid gray;">{{style}}</h6>
											{% endif %}
										</div>
										<div class="col-md-5 mt-2">
											<p>Occasion</p>
											{% if null == occasion %}
											<h5 class="pb-2" style="border-bottom: 1px solid gray;">-</h5>
											{% else %}
											<h6 class="pb-2" style="border-bottom: 1px solid gray;min-height: 47px;">{{occasion}}</h6>
											
											{% endif %}
										</div>
										<div class="col-md-5 mt-2">
											<p>Washcare</p>
											{% if null == washcare %}
											<h5 class="pb-2" style="border-bottom: 1px solid gray;">-</h5>
											{% else %}
											<h6 class="pb-2" style="border-bottom: 1px solid gray;min-height: 47px;">{{washcare}}</h6>
											{% endif %}
										</div>


									</div>

								</div>
								<ul class="nav nav-tabs tabs-ul des-tab mt-4" style="padding:10px;">
									<li>
										<h3 style="color:#4a4975;font-size:20px;">Description</h3>
									</li>
								</ul>
								<div style="background:#fff;padding:10px 0px;" class="tab-content des-con">
									<div class="tab-pane active p-10 fix_st" id="tab-overview">
										{{ description }}
									</div>
								</div>
								<div style="padding:10px;">
									<p>100% Original Products<br>Pay on delivery might be available
										<br>Easy 7 days returns and exchanges<br>Machine-wash
									</p>
								</div>
							</div>
						</div>
					</section>
					<div class="mt-4"><img src="assets/img/product-icon.webp" alt="Product">
					</div>

				</div>

			</div>
		</div>


	</div>
</div>
{% if products %}
<section class="ptb-30">
	<div class="container ">
		<div class="row text-center w-100">
			<div class="col-sm-12 w-100">
				<h3 style="text-align: center; margin-bottom: 20px">Related Products
					<span class="hb" style="text-align: -webkit-center;"></span>
				</h3>
			</div>

		</div>
		<div class="row">
			{% for product in products %}
			<div class="col-sm-3 col-6 " style="margin-top:15px;">
				<div class=" p-card-holder">
					<div class="product-card">
						<div class="image real_pro-img">
							<a  href="{{ product.href }}">
								<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
									class="img-responsive" />
							</a>
						</div>
						<a class="wishlist_link" onclick="wishlist.add('{{ product.product_id }}');">
							{% if not product.wish %}
							<i class="pe-7s-like" btnid="{{ product.product_id }}" btnname="{{ product.name }}"
								btnimg="{{ product.thumb }}" btnhref="{{ product.href }}" btnprice="{{ product.price }}"
								btnsprice="{{ product.special }}" style="color: #4a4975; font-size:24px;"></i>
							{% else %}
							<i class="fa fa-heart" style="color: #4a4975; font-size:24px;" aria-hidden="true"></i>

							{% endif %}
						</a>
						<div class="product-card-body">
							<div class="row justify-content-space-around">
								<div class="col-md-6">
									<a  href="{{ product.href }}">
										<h4 class="product_name">{{ product.name }}</h4>

									</a>
								</div>
								<div class="col-md-5  mob_ts" style="text-align:end;">
									{% if product.price %}
									<p class="price mb-0">
										{% if not product.special %}
										<span class="price-new">{{ product.price }}</span>
										{% else %}
										<span class="price-new">{{ product.special }}</span>
										<span class="price-old" style="text-decoration: line-through;">{{ product.price
											}}</span><br>
										{% endif %}
										{% if product.tax %}
										<span class="price-tax">{{ text_tax }}
											{{ product.tax }}</span>
										{% endif %}
									</p>
									{% endif %}
									{% if product.percent == null %}
									{% else %}
									<span style="text-decoration:none; color: #6c8bab;font-weight: 600;font-size:14px;"
										class="off_p">{{ product.percent }}% OFF</span>
									{% endif %}

								</div>
							</div>


						</div>

					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<br />
	</div>
</section>
{% endif %}


<script type="text/javascript">

	$('#myModal').on('shown.bs.modal', function () {
		$('#myInput').trigger('focus')
	})


	$('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
		$.ajax({
			url: 'index.php?route=product/product/getRecurringDescription',
			type: 'post',
			data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
			dataType: 'json',
			beforeSend: function () {
				$('#recurring-description').html('');
			},
			success: function (json) {
				$('.alert-dismissible, .text-danger').remove();

				if (json['success']) {
					$('#recurring-description').html(json['success']);
				}
			}
		});
	});
// -->
</script>
<script type="text/javascript">
	
	$('#button-cart').on('click', function () {
$.ajax({
url: 'index.php?route=checkout/cart/add',
type: 'post',
data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
dataType: 'json',
beforeSend: function () {
$('#button-cart').button('loading');
},
complete: function () {
$('#button-cart').button('reset');
},
success: function (json) {
if (json['error']) {
if (json['error']['option']) {
for (i in json['error']['option']) {
var element = $('#input-option' + i.replace('_', '-'));

if (element.parent().hasClass('input-group')) {
element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
} else {
element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
}
}
}

if (json['error']['recurring']) {
$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
}

// Highlight any found errors
$('.text-danger').parent().addClass('has-error');
}

if (json['success']) {

$('.cart-counter-header').html(json['total'][0]);

setTimeout(function () {
$("#cart-total").html(json['total']);
let t = json['total'].split('-');
$('.slide-cart-total').html(t[1]);
}, 100);

$('.cart-body').load('index.php?route=common/slide_cart/info div.cart-body');


$('.cart_backdrop').fadeIn();
$(".cart").animate({right: '0px'})

}
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
});
// buy now
$('#button-buy').on('click', function () {
	

	$("#button-cart").click();
	setTimeout(function () {

	window.location = "index.php?route=checkout/cart";
	}, 200)
	
	})
//
	
</script>
<script type="text/javascript">
	
	$('.date').datetimepicker({language: '{{ datepicker }}', pickTime: false});

$('.datetime').datetimepicker({language: '{{ datepicker }}', pickDate: true, pickTime: true});

$('.time').datetimepicker({language: '{{ datepicker }}', pickDate: false});

$('button[id^=\'button-upload\']').on('click', function () {
var node = this;

$('#form-upload').remove();

$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

$('#form-upload input[name=\'file\']').trigger('click');

if (typeof timer != 'undefined') {
clearInterval(timer);
}

timer = setInterval(function () {
if ($('#form-upload input[name=\'file\']').val() != '') {
clearInterval(timer);

$.ajax({
url: 'index.php?route=tool/upload',
type: 'post',
dataType: 'json',
data: new FormData($('#form-upload')[0]),
cache: false,
contentType: false,
processData: false,
beforeSend: function () {
$(node).button('loading');
},
complete: function () {
$(node).button('reset');
},
success: function (json) {
$('.text-danger').remove();

if (json['error']) {
$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
}

if (json['success']) {
alert(json['success']);

$(node).parent().find('input').val(json['code']);
}
},
error: function (xhr, ajaxOptions, thrownError) {
alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
}
}, 500);
});
//
	
</script>
<script type="text/javascript">

	$('#review').delegate('.pagination a', 'click', function (e) {
e.preventDefault();

$('#review').fadeOut('slow');

$('#review').load(this.href);

$('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id=     {{ product_id }}');

$('#button-review').on('click', function () {
$.ajax({
url: 'index.php?route=product/product/write&product_id=     {{ product_id }}',
type: 'post',
dataType: 'json',
data: $("#form-review").serialize(),
beforeSend: function () {
$('#button-review').button('loading');
},
complete: function () {
$('#button-review').button('reset');
},
success: function (json) {
$('.alert-dismissible').remove();

if (json['error']) {
$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
}

if (json['success']) {
$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

$('input[name=\'name\']').val('');
$('textarea[name=\'text\']').val('');
$('input[name=\'rating\']:checked').prop('checked', false);
}
}
});
});


$(document).ready(function () {
$("#add_quantity").click(function () {
console.log('Adding quantity');
var b = Number($("#input-quantity").val()) + 1;

$(".iq").val(b);
})
$("#less_quantity").click(function () {
var b = Number($("#input-quantity").val()) - 1;
if (b < 0) {
b = 0;
}
$(".iq").val(b);
})


var slides_to_show = 3;
$('.slider-for').slick({
slidesToShow: 1,
slidesToScroll: 1,
arrows: true,
fade: false,
infinite: true,
asNavFor: '.slider-nav',
nextArrow: '<button style="width: 25px;top: 150px;position: absolute;right: -25px;z-index: 99;" class="btn-round left"><svg viewBox="0 0 100 100"><path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>',
prevArrow: '<button style="width: 25px;top: 150px;position: absolute;left: -25px;z-index: 99;" class="btn-round right"><svg viewBox="0 0 100 100"><path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow"></path></svg></button>'

});
$('.slider-nav').slick({
slidesToShow: slides_to_show,
vertical: true,
slidesToScroll: 1,
asNavFor: '.slider-for',
dots: false,
arrows: false,

focusOnSelect: true

});

$('.thumbnails').magnificPopup({
type: 'image',
delegate: 'a',
gallery: {
enabled: true
}
});
});
//
	 
</script>

<script>
	const zoom = document.querySelector(".zoom");
	zoom.addEventListener("click", () => {
		$('.zoom').zoom({ magnify: '2.5' });
	});
</script>
<script>
	// Initiate zoom effect:
	imageZoom("myimage", "myresult");
</script>

<script>
	const imagePopupClose = document.querySelector(".imagePopupClose");
	const imagePopup = document.querySelector(".imagePopup");
	const mainImages = document.querySelectorAll(".mainImage");


	mainImages.forEach(eImage => {
		eImage.addEventListener("click", () => {
			let dataIndex = 0;

			let Index = eImage.closest("li").getAttribute("data-index");
			dataIndex = Number(Index);

			if (imagePopup.classList.contains("hidden")) {
				imagePopup.classList.remove("hidden");
				const imagePopupSlider = new Splide("#imagePopup", {
					perPage: 1,
					type: 'loop',
					start: dataIndex
				});
				imagePopupSlider.mount();
			}
		});
	});

	imagePopupClose.addEventListener("click", () => {
		imagePopup.classList.add("hidden");
	});


	var fade_state = false;
	let add = document.getElementsByClassName("add");
	for (i = 0; i < add.length; i++) {
		add[i].style.display = 'none';
	}
	let remove = document.getElementsByClassName("remove");
	for (i = 0; i < remove.length; i++) {
		remove[i].style.display = 'block';
	}
	// on btn click
	function fade() { // get the button and div

		let add = document.getElementsByClassName("add");
		for (i = 0; i < add.length; i++) {
			add[i].style.display = 'none';
		}
		let remove = document.getElementsByClassName("remove");
		for (i = 0; i < remove.length; i++) {
			remove[i].style.display = 'block';
		}


		let btn = document.getElementById("fade");
		// if faded in or out

		console.log(fade_state)

		if (fade_state == true) { // trigers animation
			for (i = 0; i < add.length; i++) {
				add[i].style.display = 'none';
			}

			for (i = 0; i < add.length; i++) {
				remove[i].style.display = 'block';
			}
			// sets the text

			// sets fade_state
			fade_state = false;
			console.log(fade_state);

		} else if (fade_state == false) { // trigers animation
			for (i = 0; i < remove.length; i++) {
				remove[i].style.display = 'none';
			}

			for (i = 0; i < add.length; i++) {
				add[i].style.display = 'block';
			}

			// sets the text

			// sets fade_state
			fade_state = true;


		}

	}
</script>
{{ footer }}